                                                                                                                                                                                                                                                                                                                                                                                            

  <section class="hero  has-background-light">
    <div class="hero-body">
      <div class="container has-text-centered">
        <a  [routerLink]="['/']" class="is-size-2 has-text-dark  mr-5">
          <img src="assets/images/camera.png" width="35">&nbsp;Filmotec</a>
        <div class="buttons is-centered">
            <a  [routerLink]="['/search']" class="is-size-5 has-text-dark mr-5 button is-grey">
                Rechercher un film
            </a>
            <a  [routerLink]="['/favoris']" class="is-size-5 has-text-dark mr-5 button is-grey">
              Favoris
            </a>
        </div>
      </div>
    </div>
  </section>