<section class="section">
    <section class="columns is-mobile is-multiline is-centered ">
        <div class="column    mt-5 has-text-centered">
            <img src="https://image.tmdb.org/t/p/w500{{ lesFilms.poster_path }} " width="500">
        </div>
        <div class="column box p-1 is-6 has-background-light mt-5">
            <article class="media">

                <div class="media-content">
                    <div class="content">
                        <p class="has-text-centered">
                            <strong class=" is-size-1	">{{ lesFilms.title }}</strong> <br>
                            <strong> Sorti le : {{ lesFilms.release_date }} </strong>
                        </p>
                        <div class="has-text-justified ml-2 mr-2">
                            <p class="mb-2">
                                <strong> Réalisateur : </strong>
                            </p>
                            <div *ngFor="let item of directorArray;let i = index">
                                <p>
                                    {{ directorArray[i]}}
                                </p>
                            </div>
                            <br>
                            
                            <p class="mb-2">
                                <strong> Acteurs principaux : </strong>
                            </p>
                            <div *ngFor="let item of actorsArray;let i = index">
                                <p>
                                    {{ actorsArray[i] }}
                                </p>
                            </div> <br>

                            <p class="mb-2">
                                <strong> Synopsis : </strong>
                                {{ lesFilms.overview }} <br>
                            </p>
                            <p class="mb-2">
                                <strong> Budget : </strong>
                                {{ lesFilms.budget}} $ <br>
                            </p>

                            <p class="mb-2">
                                <strong> Page officielle : </strong>
                                <a href="{{ lesFilms.homepage }}"> {{ lesFilms.homepage }} </a><br>
                            </p>
                            <p class="buttons">
                                
                                <button class="button is-success" (click)="onClicFavoris(lesFilms.id)"
                                    *ngIf="showFavoriteButton == true">
                                    <span class="icon is-small">
                                        <i class="far fa-check-square"></i>
                                    </span>
                                    <span>Ajouter aux favoris</span>
                                </button>
                            
                            </p>

                            <!-- note -->
                            <!--<h3>Votre Note : ? <i class="far fa-star"></i></h3>-->
                            <div *ngIf="showCommentButton">
                                <button (click)="showCommentForm = true" *ngIf="!showCommentForm">Ajouter ma
                                    note/commentaire</button>
                            </div>
                            <div *ngIf="showCommentForm">
                                <button (click)="showCommentForm = false">cacher</button>
                                <br>
                                <div class="field">
                                    <label class="label">Commentaire</label>
                                    <form action="post" [formGroup]="noteForm" (ngSubmit)="onSubmit(lesFilms.id)">
                                        <div class="control">
                                            <textarea class="textarea" formControlName="comment"
                                                placeholder="Ecrivez votre commentaire ..."></textarea>
                                            <textarea class="textarea" formControlName="noteStar"
                                                placeholder="Donnez votre note..."></textarea>
                                            <button>Ajouter</button>
                                        </div>
                                    </form>

                                </div>
                            </div>

                            <div *ngIf="notes.length > 0">
                                <div *ngFor="let item of notes; let i = index">
                                    <div *ngIf="item.idFilm == lesFilms.id">
                                       Commentaire : {{ item.comment }} <br>
                                       Note : {{ item.noteStar }}/5
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</section>