<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                    <h3 class="title is-3">Saisir un titre de film</h3>


<form [formGroup]="identForm" (ngSubmit)="recherche()">
    <div class="field">
    <label class="label">Titre</label>
    <div class="control">
    <input class="input is-success" formControlName="title" type="text" placeholder="Avengers..." value="">
    </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
        <button class="button is-link">Soumettre</button>
        </div>
        </div> 
</form>
            </div>
        </div>
    </div>
</section>

<div *ngIf="  this.nbPages > this.numPage">
    <p class="buttons">
        <button class="button is-success" (click)="nextPage()">
            
            <span>Page suivante</span>
          </button>
        </p>
    </div>
    <div *ngIf="this.numPage > 1">
        <p class="buttons">
            <button class="button is-success" (click)="previousPage()">
                
                <span>Page précédente</span>
              </button>
            </p>
    </div>
          
<div class="columns  is-multiline is-centered mt-2">
    <div class="column is-5 has-background-light mt-5 mr-2 ml-2 p-5" *ngFor="let film of lesFilms; let i =index">
        <a [routerLink]="['/film/', film.id ]" class=" has-text-dark">
        <article class="media">
            <figure class="media-left ">
                <p><img src="https://image.tmdb.org/t/p/w500{{ film.poster_path }} " width="150"></p>
            </figure>
            <div class="media-content">
                <div class="content">
                
                    <p class="has-text-weight-bold has-text-centered is-size-4">{{ film.title }}</p>
                
                    <p class="has-text-centered" style="margin-top: -25px;"> {{ film.release_date }}</p>
                
                 <p class="has-text-justified"> {{ film.overview | slice:0:200}}...</p>
                </div>
            </div>
        </article>
    </a>
    </div>
    
  </div>
<!--<section class="section columns is-mobile is-multiline is-centered mt-2">

    <div *ngFor="let film of lesFilms; let i =index">
            <div class="column box is-6 has-background-light mt-5">
                <a [routerLink]="['/film/', film.id ]" class=" has-text-dark">
                <article class="media">
                    <figure class="media-left has-media-justify-left">
                        <p><img src="https://image.tmdb.org/t/p/w500{{ film.poster_path }} " width="150"></p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                        <p class="has-text-centered">
                        <strong class=" is-size-4	"><p>{{ film.title }}</p></strong>
                                                <p> {{ film.release_date }}</p>
                        </p>
                        <p>  {{ film.overview }}</p>
                        </div>
                    </div>
                </article>
            </a>
            </div>
        </div>
</section> -->
<div *ngIf="  this.nbPages > this.numPage">
<p class="buttons">
    <button class="button is-success" (click)="nextPage()">
        
        <span>Page suivante</span>
      </button>
    </p>
</div>
<div *ngIf="this.numPage > 1">
    <p class="buttons">
        <button class="button is-success" (click)="previousPage()">
            
            <span>Page précédente</span>
          </button>
        </p>
</div>
      
  
                    

                  
                    

 
    
 