<head>
    <!-- Place your kit's code hereee -->
    <script src="https://kit.fontawesome.com/cfc83f78d0.js" crossorigin="anonymous"></script>
  </head>

<app-header></app-header>


<router-outlet></router-outlet>

<app-footer></app-footer>

