<div class="columns  is-multiline is-centered mt-2">
    <div class="column is-5 has-background-light mt-5 mr-2 ml-2 p-5" *ngFor="let fav of lesFavoris ; let i = index,">
        <article class="media">

            <figure class="media-left ">
                <a [routerLink]="['/film/', fav.id ]" class=" has-text-dark">
                    <p><img src="https://image.tmdb.org/t/p/w500{{ fav.poster_path }} " width="150"></p>
                </a>
            </figure>
            <div class="media-content">
                <div class="content">

                    <p class="has-text-weight-bold has-text-centered is-size-4">{{ fav.title }}</p>

                    <p class="has-text-centered" style="margin-top: -25px;"> {{ fav.release_date }}</p>

                    <p class="has-text-justified"> {{ fav.overview | slice:0:200}}...</p>

                    <p class="buttons">
                        <button class="button is-danger" (click)="deleteFav(fav.id)">

                            <span>Supprimer des favoris</span>
                        </button>
                    </p>
                </div>
            </div>
        </article>





    </div>

</div>