<hr class="my-2">
<section class="section mb-0">
    <div class="container py-4">
      <div class="columns is-vcentered">
        <div class="column">
          <h2 class="title is-spaced">Comment ça marche ?</h2>
          <p class="subtitle">Il vous suffit de rechercher le film que vous souhaitez par son titre et vous aurez accès à d'autres informations ainsi qu'à la possibilité de l'ajouter à vos favoris et d'y ajouter une note et un commentaire !</p>
          <a class="button is-primary" [routerLink]="['/search']">Commençons !</a>
        </div>
        <div class="column"><img src="placeholder/pictures/bg_16-9.svg?primary=00d1b2" alt=""></div>
      </div>
      <hr class="my-6">
      <div class="level">
        <div class="level-item">
          <div class="number has-background-primary">1</div>
          <h4 class="title is-4">Rechercher</h4>
        </div>
        <div class="level-item">
          <div class="number">2</div>
          <h4 class="title is-4">Consulter</h4>
        </div>
        <div class="level-item">
          <div class="number">3</div>
          <h4 class="title is-4">Enregistrer</h4>
        </div>
      </div>
    </div>
  </section>